{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "30",
          "ie": "9"
        }
      }
    ]
  ],
  // "comments": false,
  "plugins": [
    // [
    //   "import",
    //   { "libraryName": "antd", "libraryDirectory": "es", "style": true }
    // ]
  ]
}